<article>
	<div class='header'>
		<h1>Créditos</h1>
	</div>
	<div>
		<img src='/img/yo.jpg' width='80px' height='80px' alt='Imagen del autor de este sitio web'>
		<span id='autorDescripcion'>
		Me llamo <span class='resaltar'>Luis Eduardo Velandia Torres</span>, soy estudiante de Ingenieria de Sistemas en el <span class='resaltar'>I.T.M.</span> de la ciudad de Medellín, Colombia y trabajo como desarrollador de software.<br>
	</div>
</article>